<h1>投稿一覧</h1>
    <table class='table'>
        <thead>
            <tr>
                <th>店名</th>
                <th>いいね</th>
                <th>口コミ</th>
                <th>コメント</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post_content| %>
            <tr>
                <td><%= post_content.store_name %></td>
                
                <!--後で質問-->
                <!--<td><%# if post_content.favorited?(current_user) %>-->
                <!--        <%#= link_to post_favorite_path(@post.id), method: :delete do %>-->
                <!--            <span style="color:red;">❤️</span>-->
                <!--        <%# end %>-->
                <!--    <%# else %>-->
                <!--        <%#= link_to post_favorites_path(@post.id), method: :post do %>-->
                <td>         <span>❤️</span>
                <!--        <%# end %>-->
                <!--    <%# end %>-->
                
                </td>
                <td><%= post_content.review %></td>
                <td>コメント表示</td>
            </tr>
            <% end %>
        </tbody>
    </table>